<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于知识图谱的医疗知识可视化及智能问答系统</title>

    <!--Bootstrap Stylesheet [ REQUIRED ]-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<!--    <link rel="shortcut icon" href="../static/images/logo.jpg">-->
    <!--Nifty Stylesheet [ REQUIRED ]-->
    <link href="../static/css/nifty.min.css" rel="stylesheet">


    <!--Nifty Premium Icon [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">


    <!--Demo [ DEMONSTRATION ]-->
    <link href="../static/css/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="../static/css/nifty-demo.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">

        
    
    <!--JAVASCRIPT-->
    <!--=================================-->

    <!--Pace - Page Load Progress Par [OPTIONAL]-->
    <link href="../static/css/pace.min.css" rel="stylesheet">
   
    <script src="../static/js/pace.min.js"></script>


    <!--jQuery [ REQUIRED ]-->
    <script src="../static/js/jquery-2.2.4.min.js"></script>


    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="../static/js/bootstrap.min.js"></script>
    <link href="../static/css/all_relation.css" rel="stylesheet">

    <!--NiftyJS [ RECOMMENDED ]-->
    <script src="../static/js/nifty.min.js"></script>
    <script src="../static/js/icons.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/tags.js"></script>



    <!--=================================-->

    <!--Demo script [ DEMONSTRATION ]-->
    <script src="../static/js/nifty-demo.min.js"></script>
    <style type="text/css">
    #tagsList {
        position: relative;
        width: 300px;
        height: 300px;
        top: 30px;
        left: 40px;
    }
    #tagsList a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color:gray; font-weight:bold; text-decoration:none; padding: 3px 6px; }
    #tagsList a:hover { color:#249e92; letter-spacing:2px;}
    #search:focus{
        border: 1px solid #249e92;
    }


    </style>

</head>

<body>

    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        <!--NAVBAR-->
        <!--==================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">

                <!--Brand logo & name-->
                <!--======================-->
                <div class="navbar-header">

                </div>
                <!--======================-->
                <!--End brand logo & name-->


                <!--Navbar Dropdown-->
                <!--======================-->
                <div class="navbar-content clearfix">

                        <h4>基于知识图谱的医疗知识可视化及智能问答系统</h4>

                    </ul>
                </div>
                <!--======================-->
                <!--End Navbar Dropdown-->

            </div>
        </header>
        <!--==================================-->
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--==================================-->
            <div id="content-container" style="padding-left: 0;">

                <!--Page content-->
                <!--==================================-->
                <div id="page-content">


                    <div class="col-lg-4">
                        <div class="input-group">
                            <input type="text" id="search" class="form-control input-lg"  placeholder="请输入你要检索的疾病名称...">
                            <span class="input-group-addon btn btn-mint"  onclick="searchAllrelation()">搜索</span>

                        </div>
                        <div  class="col-lg-4" id="tagsList">
                            <a href="#" data="职业病" >职业病</a>
                            <a href="#" data="心脏病">心脏病</a>
                            <a href="#" data="肺炎">肺炎</a>
                            <a href="#" data="感冒">感冒</a>
                            <a href="#" data="气胸">气胸</a>
                            <a href="#" data="禽流感">禽流感</a>
                            <a href="#" data="小儿结核病">小儿结核病</a>
                            <a href="#" data="哮喘">哮喘</a>
                            <a href="#" data="川崎病">川崎病</a>
                            <a href="#" data="高血压">高血压</a>
                            <a href="#" data="冠心病">冠心病</a>
                            <a href="#" data="急性心肌梗死">急性心肌梗死</a>
                            <a href="#" data="间歇性眼球突出症">间歇性眼球突出症</a>
                            <a href="#" data="急性心功能不全">急性心功能不全</a>
                            <a href="#" data="半乳糖血症">半乳糖血症</a>
                            <a href="#" data="甲亢">甲亢</a>
                            <a href="#" data="血管瘤">血管瘤</a>
                            <a href="#" data="心肌炎">心肌炎</a>
                            <a href="#" data="肠道菌群失调症">肠道菌群失调症</a>
                            <a href="#" data="肠气肿综合征">肠气肿综合征</a>
                           </div>
                    </div>
                    <div class="col-lg-8" style="min-height:130vh;height: 150vh;" id="guanxi">


                    </div>
                    <div style="position:relative">
                        <div class="elem" id="elem_1" style="top:40px;">
                            <span id="icon" class="glyphicon glyphicon-chevron-right" style="float:right;display: block;margin-right: 10px;margin-top: 10px;font-size: 16px;"></span>
                            <div id="disease_title">

                            </div>
                            <div id="disease_box">

                                <div style="display: flex;">
                                    <h5 id="commonPeople" style="flex:1"></h5>
                                    <p id="commonPeople_info" style="flex:3"></p>
                                </div>
                                <div style="display: flex;background: rgb(245, 245, 245);">
                                    <h5 id="duration" style="flex:1"></h5>
                                    <p id="duration_info" style="flex:3"></p>
                                </div>
                                <div style="display: flex;">
                                    <h5 id="probability" style="flex:1"></h5>
                                    <p id="probability_info" style="flex:3"></p>
                                </div>
                                <div style="display: flex;background: rgb(245, 245, 245);">
                                    <h5 id="treatment" style="flex:1"></h5>
                                    <p id="treatment_info" style="flex:3"></p>
                                </div>
                                <div style="display: flex;">
                                    <h5 id="diseaseTreatment" style="flex:1"></h5>
                                    <p id="diseaseTreatment_info" style="flex:3"></p>
                                </div>
                                 <div style="display: flex;background: rgb(245, 245, 245);">
                                    <h5 id="defense" style="flex:1"></h5>
                                    <p id="defense_info" style="flex:3"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--==================================-->
                <!--End page content-->


            </div>

        </div>

        <div id="sider-talker">
            <div id="sider-talker-background">
                <div id="sider-talker-icon">
                    <div style="margin: 6px 10px 6px 30px;">
                        <img src="../static/images/doctor.png" alt="icon"  id="icon-doctor" onclick="openChatBlock()">
                    </div>
                </div>
            </div>
        </div>


        <div id="chat-block" style="display: none">
            <div class="chat-container">
            <div class="chat-header">
                <div class="doctor-name">智能医疗助手</div>
                <div class="icon-shrink">
                    <img src="../static/images/shrink.png" alt="shrink-icon" class="shrink" onclick="closeTalk()"/>
                </div>
            </div>


            <div class="content">
                <div class="talk-box">
                    <div class="item item-left">
                        <div class="avatar">
                            <img src="../static/images/doctor.png" alt="docter-icon"/>
                        </div>
                        <div class="left-message">
                            <span>您好，我是智能医疗助手，请详细描述您的问题。</span>
                        </div>
                    </div>



                </div>

            </div>

            <div class="input-area">

                 <textarea type="text" id="send-text" placeholder="请输入您的问题"></textarea>
                <div class="send-block">
                    <img src="../static/images/send_message.png" alt="icon-send" class="send-button" onclick="send()"/>

                </div>
            </div>
    </div>
        </div>







        <!-- FOOTER -->
        <!--==================================-->
        <footer id="footer" style="text-align: center">

           <p>Copyright&#0169; 2021 zuel  &nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All Rights Reserved </p>

        </footer>
        <!--==================================-->
        <!-- END FOOTER -->

        <!-- SCROLL PAGE BUTTON -->
        <!--==================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--==================================-->
    </div>
    <!--==================================-->
    <!-- END OF CONTAINER -->
   <script type="text/javascript">



    $(document).keypress(function (e) {
        // 回车键事件

        if (e.which == 13) {
            searchAllrelation();
        }
    });
    const myChart = echarts.init(document.getElementById("guanxi"));
    window.onresize = function () {

        myChart.resize();
    }

    $.ajaxSetup({ async: false });
    myChart.showLoading();

    myChart.hideLoading();
    option = {

        title: {

            textStyle: {

                fontWeight: "lighter",
            }
        },
        animationDurationUpdate: 5,
        animationEasingUpdate: 'quinticInOut',
        legend: {
            // x: "center",
            right: 0,
            align: "right",
            show: true,
            data: ["疾病","所属科室", "并发症", "症状", "诊断检查", "好评药品", "忌吃","推荐食谱","宜吃"],
            orient: "vertical"
        },
        series: [
            {
                type: 'graph',
                layout: 'force',
                // animation: false,
                symbolSize: 70,
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 4],
                edgeLabel: {
                    normal: {
                        show: true,
                        textStyle: {
                            fontSize: 13
                        },
                        formatter: "{c}"
                    }
                },
                force: {
                    repulsion: 800,
                    edgeLength: [10, 180],
                    layoutAnimation: true,
                },
                focusNodeAdjacency: true,
                draggable: false,
                roam: false, //配置后,树图就可以开启鼠标缩放和平移漫游


                categories: [{
                        name: '疾病',
                    },
                    {
                    name: '所属科室',

                }, {
                    name: '并发症',

                }, {
                    name: '症状',

                },
                {
                    name: '诊断检查',
                }, {
                    name: '好评药品',
                },
                {
                    name: '忌吃',
                },
               {
                    name: '推荐食谱',
                },
                {
                    name: '宜吃',
                },
                ],
                label: {
                    normal: {
                        show: true,
                        textStyle: {
                            fontSize: 15
                        },
                    }
                },
                tooltip: {
                    formatter: function (node) { // 区分连线和节点，节点上额外显示其他数字
                        if (!node.value) {
                            return node.data.name;
                        } else {
                            return node.data.name + ":" + node.data.showNum;
                        }
                    },
                },
                lineStyle: {
                    normal: {
                        opacity: 0.9,
                        width: 1,
                        curveness: 0.3
                    }
                },
                // progressiveThreshold: 700,
                nodes: [],
                links: [],



            }
        ]
    };

    function send(){

        let text = document.querySelector('#send-text').value;
        if(!text){
            alert('请输入内容');
            return ;
        }
        let item = document.createElement('div');
        item.className = 'item item-right';
        item.innerHTML = `
                        <div class="right-message">
                            <span>${text}</span>
                        </div>
                        <div class="avatar">
                           <img src="../static/images/user-avatar.png" alt="user-icon"/>
                        </div>


                        `;

        document.querySelector('.talk-box').appendChild(item);
        document.querySelector('#send-text').value = '';
        document.querySelector('#send-text').focus();
        //滚动条置底
        const div = document.getElementsByClassName('content')[0];
        div.scrollTop = div.scrollHeight;
        // let height = document.querySelector('.talk-box').scrollHeight;
        // document.querySelector(".talk-box").scrollTop = height;
        console.log("发送出去")
        answer(text)
    }
    function answer(userQuestion){
        let item = document.createElement('div');
        item.className = 'item item-left';
        item.innerHTML = `
                       <div class="avatar">
                            <img src="../static/images/doctor.png" alt="docter-icon"/>
                        </div>
                        <div class="left-message">
                            <span>查询中，请稍候...</span>
                        </div>


                        `;

        document.querySelector('.talk-box').appendChild(item);
        document.querySelector('#send-text').value = '';
        document.querySelector('#send-text').focus();
        //滚动条置底
        const div = document.getElementsByClassName('content')[0];
        div.scrollTop = div.scrollHeight;
        // let height = document.querySelector('.talk-box').scrollHeight;
        // document.querySelector(".talk-box").scrollTop = height;
        // console.log("发送出去")
        searchEverything(userQuestion)
    }
    function searchEverything(userQuestion){
        console.log("userQuestion：",userQuestion)
        $.ajaxSettings.async = true;
        $.getJSON('/search_everything',{
            user_question:userQuestion,
        },function (json){
            console.log("json:",json)
            let item = document.createElement('div');
            item.className = 'item item-left';
            item.innerHTML = `
                           <div class="avatar">
                                <img src="../static/images/doctor.png" alt="docter-icon"/>
                            </div>
                            <div class="left-message">
                                <span>${json}</span>
                            </div>


                            `;

            document.querySelector('.talk-box').appendChild(item);
            document.querySelector('#send-text').value = '';
            document.querySelector('#send-text').focus();
            //滚动条置底
            const div = document.getElementsByClassName('content')[0];
            div.scrollTop = div.scrollHeight;
            // let height = document.querySelector('.talk-box').scrollHeight;
            // document.querySelector(".talk-box").scrollTop = height;
            })

    }

    function openChatBlock(){

        const chatBlock = document.getElementById("chat-block");
        chatBlock.style.display="block";
    }


    function closeTalk(){
        const chatBlock = document.getElementById("chat-block");
        chatBlock.style.display="none";
    }



    function searchAllrelation() {
        $.ajaxSettings.async = true;
        $.getJSON('/searchAllrelation', {
            name: $("#search").val(),

        }, function (json) {
            // console.log("json.data:",json.data)
            let category = 1;
            for (let i=0; i<json.data.length; i++)
            {
                category=JSON.stringify(json.data[i].category);
                // console.log("category:",category)
                if(category == 11){
                    $("#defense").html("防御措施：")
                    $("#defense_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 9){
                    $("#commonPeople").html("易发人群：")
                    $("#commonPeople_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 10){
                    $("#duration").html("持续时间：")
                    $("#duration_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 12){
                    $("#probability").html("治愈概率：")
                    $("#probability_info").html(JSON.stringify(json.data[i].name))
                }
                 else if(category == 13){
                     $("#treatment").html("治疗方式：")
                    $("#treatment_info").html(JSON.stringify(json.data[i].name))
                }
                 else if(category == 14){
                     $("#diseaseTreatment").html("疾病的相关介绍：")
                    $("#diseaseTreatment_info").html(JSON.stringify(json.data[i].name))
                }
                  else if(category == 15){
                      $("#reason").html("疾病原因：")
                    $("#reason_info").html(JSON.stringify(json.data[i].name))
                }

            }
            option.series[0].nodes = json.data.map(function (node, idx) {
                node.id = idx;
                return node;
            });
            // console.log("json.links:",json.links)
            option.series[0].links = json.links;

            myChart.setOption(option, true);

            $("#disease_title").html($("#search").val());
        });
    }

    $(".col-lg-4 a").click(function () {
        $("#disease_title").html($(this).attr("data"));
        $.ajaxSettings.async = true;
        $.getJSON('/searchAllrelation', {
            name: $(this).attr("data"),

        }, function (json) {

            let category = 1;
            for (let i=0; i<json.data.length; i++)
            {
                category=JSON.stringify(json.data[i].category);
                // console.log("category:",category)
                if(category == 11){
                    $("#defense").html("防御措施：")
                    $("#defense_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 9){
                    $("#commonPeople").html("易发人群：")
                    $("#commonPeople_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 10){
                    $("#duration").html("持续时间：")
                    $("#duration_info").html(JSON.stringify(json.data[i].name))
                }
                else if(category == 12){
                    $("#probability").html("治愈概率：")
                    $("#probability_info").html(JSON.stringify(json.data[i].name))
                }
                 else if(category == 13){
                     $("#treatment").html("治疗方式：")
                    $("#treatment_info").html(JSON.stringify(json.data[i].name))
                }
                 else if(category == 14){
                     $("#diseaseTreatment").html("疾病的相关介绍：")
                    $("#diseaseTreatment_info").html(JSON.stringify(json.data[i].name))
                }
                  else if(category == 15){
                      $("#reason").html("疾病原因：")
                    $("#reason_info").html(JSON.stringify(json.data[i].name))
                }

            }

            option.series[0].nodes = json.data.map(function (node, idx) {
                node.id = idx;
                return node;
            });

            option.series[0].links = json.links;

            myChart.setOption(option, true);

        })
    });

    $(".elem").each(function(i,elem){
        let $elem = $(elem);
        let $disease_box = $(disease_box);
        let $icon = $(icon);
        let count = 1;
        $elem.on('click', function(){
            count++;
            if (count % 2 === 0) {
             $elem.stop();
             $elem.animate({left: '-30px'}, "250");
             $disease_box.css("display", "block");
             $icon.css("transform", "rotate(180deg)");
            } else {
                $elem.stop();
                $elem.animate({left: '-335px'}, "250");
                $disease_box.css("display", "none");
                $icon.css("transform", "rotate(360deg)");
            }
        });

    })
</script>
</body>
</html>
